<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- <img width="40" alt="Sensormatic Logo" src="/assets/images/logo.png" />
  <span>Firebase Push notification Application</span> -->
  <img src="/assets/logo.png" alt="logo" style="width: 230px" />
  <span class="logo-title"> Visionworks Push notification Application</span>
</div>

<div class="content" role="main">
  <h2>Push Notification</h2>
  <p>
    Push notifications are clickable pop-up messages that appear on your users'
    browsers irrespective of the device they're using or the browser they're on.
    ... Subscribers can be anywhere on the browser and still receive these
    messages as long as they're online or have their browsers running on their
    devices.
  </p>
</div>

<router-outlet></router-outlet>
